.App {
  text-align: center;
}

.nodec {
  text-decoration: none !important;
  color: #7F8BA3;
}

.hover:hover {
  background: #21242A;
	padding: 1px 1px;
  border-radius: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-box {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 24px;
  color: #21252B;
  width: 50%;
  margin-top: 10px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  border: 0;
  outline: 0;
  background: #22252B;
  color: white;
  border-radius: 20px;
}

.input-box::placeholder {
  font-weight: 200;
  font-size: 24px;
  color: #7F8BA3;
}

.input-box:focus, .button:focus {
  outline: none;
}

@media screen and (max-width: 800px) {
  .input-box {
    width: 80%;
  }
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 24px;
  color: #7F8BA3;
}

.main-title {
  color: #D66060;
  font-weight: 700;
}

.number {
  font-family: 'Montserrat', sans-serif;
  color: #7F8BA3;
  font-weight: 700;
  font-size: 96px;
}

.number::selection {
  background: white;
  color: #21252B;
}

.details {
  font-family: 'Montserrat', sans-serif;
  color: #7F8BA3;
  font-weight: 200;
  font-size: 14px;
  margin-top: 0px;
}

.credits {
  font-family: 'Montserrat', sans-serif;
  color: #7F8BA3;
  font-weight: 200;
  font-size: 16px;
}

.twitter-share-button {
  background-color: #1DA1F2;
  color: #FFFEFE;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.twitter-share-button:hover {
  background-color: #1A94E0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
